body {
    background-color: #c4f3e4;
}

h2 {
    color: white;
    font-family: 'Lato', sans-serif;;
}

.sLife {
    background: green;
    border: 1px white dashed;
    width: 20px;
    height: 20px;
    margin: 10px;
    float: left;
}

#score {
    /*background: deepskyblue;*/
    float: left;
}

.lifes {
    float: left;
    margin: 10px 40px;
}

#timer {

    width: 100px;
    float: left;
}

.game-field {

    position: absolute;
    top: auto;
    left: auto;
    height: 400px;
    width: 400px;
    background: dimgray;
}

.start-block {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 0%;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.6);
}

.ball,
.newBall {
    display: block;
    position: absolute;
    left: 3px;
    top: 3px;

    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: yellow;
    box-shadow: 0 0 0 2px #fff, 0 0 0 3px #888;
    outline: none;
}

.buttons {
    background: aqua;
    border-radius: 15px;
    width: 100px;
    height: 50px;
    outline: none;

    position: absolute;
    top: 25%;
    left: 25%;

    text-align: center;
}

#switcher {
    position: absolute;
    width: 396px;
    height: 63px;
    border: #333333 2px solid;
    left: 8px;
    top: 411px;
}

#continue {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000bf;
}
    .button{
        width: 33%;
        height: 100%;
        outline: none;
    }
/*
============
pacman
============

*/
.pacman {
    position: absolute;
    z-index: 99;
    top: 50%;

}

.pacman::before, .pacman::after {
    content: "";
    display: block;
    height: 0;
    width: 0;
    position: absolute;
    border: solid 30px yellow;
    margin-top: -30px;
    border-radius: 50%;
    border-right-color: transparent;
    border-bottom-color: transparent;
    animation: mouthTop 0.7s ease infinite;
}

.pacman::after {

    border-color: yellow;
    border-right-color: transparent;
    border-top-color: transparent;
    animation: mouthBotum 0.7s ease infinite;

}


@keyframes mouthTop {
    50%{
        transform: rotate(44deg);
    }
}
@keyframes mouthBotum {
    50%{
        transform: rotate(-44deg);
    }
}
.pacmanOuter{
    width: 60px;
    height: 60px;
    border: 2px solid black;
}

/*


*/
#blockButton {

    width: 22%;
    height: 50px;
    background: white;
    position: relative;
    margin: 50%;
    margin-top: 20%;
    margin-left: auto;


}