div {
    border-radius: 15px;

}

.start-block {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 0%;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.6);
}

.buttons {
    background: aqua;
    border-radius: 15px;
    width: 100px;
    height: 50px;
    outline: none;

    position: absolute;
    top: 50%;
    left: 50%;

    text-align: center;
}

.field {
    position: relative;
    border: #888888 2px solid;
    background-color: #c4f3e4;
}

.score,
.timer {
    background-color: burlywood;
    width: 805px;
    margin: 15px auto;
    left: 50%;
    border: 1px solid burlywood;
    text-align: center;
}

.game-field {
    background-color: burlywood;
    margin: auto;
    position: relative;
    width: 800px;
    height: 800px;
    border: 2px solid #888888;
}

.gamer {
    position: absolute;
    display: none;
    width:60px;
    height: 60px;

}

.ball {
    display: none;
    width: 15px;
    height: 15px;
    border: black 2px solid;
    border-radius: 50%;
    background: aqua;
    position: absolute;

    left: 400px;
    top: 400px;

}



/*новый пакман*/

.path {
    position: relative;
    width: 100%;
    height: 100px;
    background: #333;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
    color: ghostwhite;
    margin: 0 auto;
}
.digit{
    position: absolute;
    left: 47%;
}
.buttonTimer{
    border-radius: 50%;
    margin-right: 20%;
    width: 100px;
    height: 100px;
    padding: 0;
    border: 0;
    background: none;
    -webkit-appearance: none;
    background-color: #91c7e2;

}
.buttonsTimer{
    border: 2px solid black;



}

.pacman {
    position: absolute;
    z-index: 99;
    top: 50%;

}

.pacman::before, .pacman::after {
    content: "";
    display: block;
    height: 0;
    width: 0;
    position: absolute;
    border: solid 30px yellow;
    margin-top: -30px;
    border-radius: 50%;
    border-right-color: transparent;
    border-bottom-color: transparent;
    animation: mouthTop 0.7s ease infinite;
}

.pacman::after {

    border-color: yellow;
    border-right-color: transparent;
    border-top-color: transparent;
    animation: mouthBotum 0.7s ease infinite;

}


@keyframes mouthTop {
   50%{
       transform: rotate(44deg);
   }
}
@keyframes mouthBotum {
    50%{
        transform: rotate(-44deg);
    }
}