body{
    background-color: #c4f3e4;
}
div{


    width: 400px;
    height: 50px;
    border-radius: 15px;
    border: 2px solid whitesmoke;

    margin: 0 0;
}
.score{
    background: deepskyblue;
}
.timer{
    background: antiquewhite;
}
.game-field{
    position: absolute;
    top: auto;
    left: auto;
    height: 400px;
    background: aqua;
}
.start-block{
    position: absolute;
    width: 100%;
    height:100%;
    border-radius: 0%;
    left: 0;
    top: 0;
    background-color: rgba(255,255,255,0.6);
}
.ball{
    display: none;
    position: absolute;
    left: 3px;
    top: 3px;

    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: yellow;
    box-shadow: 0 0 0 2px #fff, 0 0 0 3px #888;
    outline: none;
}
.buttons{
    background: aqua;
    border-radius: 15px;
    width: 100px;
    height: 50px;
    outline: none;

    position: absolute;
    top: 25%;
    left: 25%;

    text-align: center;
}